@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic);;

*{
  font-family:josefin ;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */
.app{
  width: 100%;
  height: 100%;
}
/*  */


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.dark-bg{
  background-color: black;
  /* height: 30px; */
  background-image: url('images/bg-desktop-dark.jpg');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 50vh; /* Adjust the height as needed */
}
.light-bg{
  background-color: black;
  /* height: 30px; */
  background-image: url('images/bg-desktop-light.jpg');
  background-size: cover; /* Ensures the image covers the entire element */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  height: 50vh; /* Adjust the height as needed */
}
.dark-bg-color{
  background-color:hsl(235, 21%, 11%);
  height:100vh
}
.footer-box{
  display: flex;
  justify-content:space-evenly;
  padding: 10px 30px;
}
.checker {
  background: linear-gradient(90deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border: none;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid rgb(160, 158, 158);
  padding-top: 5px;
  margin-right: 17px;
  margin-left: 30px;
}
  .not-checked{
margin-left: 30px;

  background-color: rgb(241, 238, 238);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  border: 1px solid  hsl(220, 98%, 61%);
  margin-right: 17px;
}

.list-text{
  color: rgb(158, 157, 157) !important
}
.allClicked:focus {
  -webkit-focus-ring-color: transparent; /* Remove the focus ring on WebKit browsers */
}
.all{
/* margin-left: auto; */
color: hsl(230, 80%, 63%) !important


}
.dark-mode:hover{
  color: black;

}

.light-mode:hover{
  color: white;

}
.ItemsLeft{
  /* margin-left: auto; */
  color:hsl(236, 23%, 88%);
  /* cursor: pointer; */
  -webkit-tap-highlight-color: transparent; /* Remove the tap highlight on WebKit browsers */
  outline: none; /* Remove the focus outline */


  }
  .items-left{
    /* margin-left: auto; */
    color:hsl(240, 2%, 35%);
    /* cursor: pointer; */
    -webkit-tap-highlight-color: transparent; /* Remove the tap highlight on WebKit browsers */
    outline: none; /* Remove the focus outline */
  
  
    }
.allClicked{
  /* margin-left: auto; */
  color:hsl(236, 9%, 61%);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent; /* Remove the tap highlight on WebKit browsers */
  outline: none; /* Remove the focus outline */


  }
  .block{
    display:block;
    text-align: center;
    /* border-bottom: 1px solid blue; */
  }

.completed{
  /* justify-content: center; */
margin-left: 2%;
}

h1{
  color: white;
  font-size:2.5em ;
  font-weight: 700;
}
.form-box{
  /* background-color:hsl(237, 14%, 26%); */
  padding: 15px;
  border-radius: 5px;
  /* margin-bottom: 25px; */
}
.to-do-box{
  /* padding: 30px; */
  height: 80%;
  width: 90%;
  background-color: transparent;
  position: absolute;
  left: 50%;
  top: 7%;
  transform: translate(-50%, 0%);}

  .Header-Theme{
    display: flex;
    width: 100%;
  }
  .list-container{
    border-bottom: 1px solid rgb(199, 193, 193);
    margin-bottom: 13px;
    padding-bottom: 12px;
font-size: 15px;
    display: flex;
  }
  @media (max-width: 600px) {
  
  .list-container{
    border-bottom: 1px solid rgb(199, 193, 193);
    margin-bottom: 13px;
    padding-bottom: 12px;
font-size: 12px;
    display: flex;
  }
}

.FieldsInput{
  /* margin-left: 20px; */
  /* margin-bottom: 20px; */
  font-size: 18px;
  padding: 10px;
  border: none;
  display: flex;

  border-radius: 10px;



    width: 97%;
    /* margin-left: auto; */
    margin-right: 20px;

  }
  button{
    cursor: pointer ;
    border: none;
    background-color: transparent;
  }
  .addbtn{
    background: linear-gradient(90deg, hsl(244, 65%, 56%), hsl(261, 87%, 65%));
color: white;
font-weight: 500;
    width: 80px;
    border: none;
    border-radius: 10px;
  }
  .Fields{
  /* margin-left: 20px; */
  /* margin-bottom: 20px; */
  font-size: 18px;
  padding: 10px;
  border: none;
  display: flex;



    width: 98%;
    /* margin-left: auto; */
    /* margin-right: auto; */

  }
  .no-bullet{
    list-style-type: none;
    padding-inline-start: 0px;
    background-color:hsl(240, 5%, 92%);
    padding-top: 20px;
    box-shadow: 15px 10px 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  };

/*   
  .checker-btn{
    background-color: rgb(82, 83, 19);
    border: none;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 30px;
  margin-left: 30px;

    margin-top: 30px;


  } */
    /* .not-checked{
  margin-left: 30px;

    background-color: rgb(136, 129, 129);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid black;
    margin-right: 30px;
  } */
  .list-text{
    font-size: 10px;
    /* font-weight: 500; */
    /* margin-bottom: 20px; */
    /* position: relative; */
    /* bottom: 4px; */
  }
  .check-img{
    width: 12px;
    /* margin-right: 5px; */
  }
  .x-btn{
    background-color: transparent;
    border: none;
    margin-left: auto;
    height: 25px;
    width: 25px;
  margin-right: 30px;

    /* position: relative; */
    /* bottom: 25px; */
  }
  .switch-btn{
    cursor:pointer;
    background-color: transparent;
border: none;

  }
  .logo{
    margin-left: 10px;
  }
  .switch-Box{
    /* justify-content: flex-end; */
    align-self:center;
    margin-left: auto;
    margin-right: 20px;
  }
  /* .footer-box :hover{
color: rgb(58, 58, 58);
  } */
  .footer-box  {
    /* color:hsl(235, 19%, 35%);
     */
     color:hsl(236, 9%, 61%);

  }
  .footer-box-dark div {
    color: black;

  }
  @media (min-width: 700px) {
   
    .to-do-box{
      height: 80%;
      width: 70%;
      background-color: transparent;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0%);
  }

  }

